<ion-header [id]="'add_payment_modal'">
  <ion-navbar color="modal-head">
    <ion-title>
      <h2 class="head-style">
        <b>Create Payment</b>
      </h2>
    </ion-title>
    <ion-buttons end>
      <button [id]="'add_payment_close_btn'" ion-button (click)="closeModal()">close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding text-center>
  <ion-card>
    <ion-card-content style="margin-top: 1%;">
      <ion-list>
        <ion-item>
          <ion-label stacked>Price</ion-label>
          <ion-input [id]="'add_payment_price_input'" min="0" type="number" [(ngModel)]="payment.price" (press)="presentPopover($event)"
            (ionChange)="onPriceChange()"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Name</ion-label>
          <ion-input [id]="'add_payment_name_input'" type="text" [(ngModel)]="payment.title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Note</ion-label>
          <ion-input [id]="'add_payment_note_input'" type="text" [(ngModel)]="payment.note"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Payer</ion-label>
          <ion-select [(ngModel)]="payers" multiple="true" (ionChange)="onPayerChange()">
            <ion-option *ngFor="let user of group.members" [value]="user">{{user.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <h3>Remainding Price:{{remaidingPayerPrice}} </h3>
        </ion-item>

        <ion-item>
          <button ion-button full (click)="onGeneratePayerEqualPrice()" [disabled]="payment.payer==null||payment.payer==undefined||payment.payer.length==0">Generate Payer Price Equally</button>
        </ion-item>
        <ion-item>
          <p class="errorMessage">{{message}}</p>
          <ng-container *ngFor="let p of payment.payer">
            <ion-item>
              <ion-label stacked>{{p.user.name}} </ion-label>
              <ion-input type="number" min="0" [(ngModel)]="p.pricePaid" (ionChang)="onPayerPriceChange(p)"></ion-input>
            </ion-item>
          </ng-container>
        </ion-item>
        <ion-item>
          <h3>Remainding Price:{{remaidingPayeePrice}} </h3>
        </ion-item>
        <ion-item>
          <button  ion-button full (click)="onGeneratePayeeEqualQuantityPrice()" [disabled]="payment.price==0">Generate Price Regards quantity</button>
        </ion-item>
        <ion-item>
            <button  ion-button full (click)="onGeneratePayeeEqualPrice()" [disabled]="payment.price==0">Generate Price Regardless quantity</button>
          </ion-item>
        <ion-item>
          <button ion-button full (click)="onGeneratePayeeEqualRemaindingPrice()" [disabled]="payment.price==0">Generate Remainding Price Regards Quantity</button>
        </ion-item>
        <ion-item>
          <ng-container *ngFor="let p of payment.payee">
            <ion-col>
              <ion-item>
                <ion-label stacked>{{p.user.name}} </ion-label>
                <ion-input type="number" min="0" [(ngModel)]="p.priceOwe" (ionChang)="onPayeePriceChange(p)"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label stacked>Quantity</ion-label>
                <!-- (ionChang)="onPayeeQuantityChange(p)" -->
                <ion-input type="number" min="1" [(ngModel)]="p.quantity"></ion-input>
              </ion-item>
            </ion-col>
          </ng-container>
        </ion-item>
        <!-- <button ion-button (click)="check()">get Payer</button> -->
        <!-- <ion-item>
              <ion-label stacked>Group Member</ion-label>
              <ion-input [id]="'add_group_memeber_name_input'" type="text" ngModel name="groupMember" placeholder="Group Member Name"></ion-input>
            </ion-item> -->
        <!-- <ion-item>
                <button ion-button outline (click)="addMember()">Add Member</button>
            </ion-item>
            <ion-item>
              <ng-container *ngFor="let m of group.members">
                <p>{{m}}<button ion-button outline style="float:right">X</button></p>
              </ng-container>
            </ion-item> -->
      </ion-list>
      <ion-row>
        <ion-col>
          <button [id]="'add_group_add_btn'" class="roundBtn" [disabled]="!isValid()" ion-button outline (click)="onAdd()" color="danger">Add Payment</button>
        </ion-col>
        <ion-col>
          <button [id]="'add_group_cancel_btn'" class="roundBtn" ion-button outline color="danger" (click)="closeModal()">Cancel</button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
