<ion-header [id]="'add_payment_modal'">
  <ion-navbar color="modal-head">
    <ion-title>
      <h2 class="head-style">
        <b>Create Payment</b>
      </h2>
    </ion-title>
    <ion-buttons end>
      <button [id]="'add_payment_close_btn'" ion-button (click)="closeModal()">close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding text-center>
  <ion-card>
    <ion-card-content style="margin-top: 1%;">
      <ion-list>
        <ion-item>
          <ion-label stacked>Price</ion-label>
          <ion-input [id]="'add_payment_price_input'" min="0" type="number" [(ngModel)]="payment.price"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Payee</ion-label>
          <ion-select [(ngModel)]="payment.payee.name">
            <ion-option *ngFor="let user of group.members" [value]="user">{{user}}</ion-option>
          </ion-select>
        </ion-item>
        <!-- <ion-item>
              <ion-label stacked>Group Member</ion-label>
              <ion-input [id]="'add_group_memeber_name_input'" type="text" ngModel name="groupMember" placeholder="Group Member Name"></ion-input>
            </ion-item> -->
        <!-- <ion-item>
                <button ion-button outline (click)="addMember()">Add Member</button>
            </ion-item>
            <ion-item>
              <ng-container *ngFor="let m of group.members">
                <p>{{m}}<button ion-button outline style="float:right">X</button></p>
              </ng-container>
            </ion-item> -->
      </ion-list>
      <ion-row>
        <ion-col>
          <button [id]="'add_group_add_btn'" class="roundBtn" [disabled]="!isValid()" ion-button outline (click)="onAdd()" color="danger">Add Payment</button>
        </ion-col>
        <ion-col>
          <button [id]="'add_group_cancel_btn'" class="roundBtn" ion-button outline color="danger" (click)="closeModal()">Cancel</button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
